{% extends 'public/header.html' %}
{% block content %}
<!--      按需引入-->
        {% include 'public/sub-header.html' %}
        {{result}}
			<div class="article-container clearfix">
				<div class="left-menu fl">
					<div class="selected">
            <a href="">推荐</a>
          </div>
					<div><a href="">自动化测试</a></div>
					<div><a href="">Python开发</a></div>
					<div><a href="">Java开发</a></div>
					<div><a href="">功能测试</a></div>
				</div>
				<div class="article-warpper fl">
					<div class="article-inner">
						<div class="article-row clearfix">
							<div class="article-header-image fl">
								<img src="images/article-header.jpg" alt="">
							</div>
							<div class="article-desc fl">
								<div class="article-name">
									<a href="" target="_blank">研发技术分享</a>
								</div>
								<div class="article-info clearfix">
									<article class="article-left fl">
										<span>资讯</span>
										<span class="iconfont">19254</span>
										<span>慕课网官方</span>
										<span>资讯</span>
									</article>
									<div class="article-right fr">08.09</div>
								</div>
							</div>
						</div>
						<div class="article-row clearfix">
							<div class="article-header-image fl">
								<img src="images/article-header.jpg" alt="">
							</div>
							<div class="article-desc fl">
								<div class="article-name">
									<a href="" target="_blank">研发技术分享</a>
								</div>
								<div class="article-info clearfix">
									<article class="article-left fl">
										<span>资讯</span>
										<span class="iconfont">19254</span>
										<span>慕课网官方</span>
										<span>资讯</span>
									</article>
									<div class="article-right fr">08.09</div>
								</div>
							</div>
						</div>
						<div class="article-row clearfix">
							<div class="article-header-image fl">
								<img src="images/article-header.jpg" alt="">
							</div>
							<div class="article-desc fl">
								<div class="article-name">
									<a href="" target="_blank">研发技术分享</a>
								</div>
								<div class="article-info clearfix">
									<article class="article-left fl">
										<span>资讯</span>
										<span class="iconfont">19254</span>
										<span>慕课网官方</span>
										<span>资讯</span>
									</article>
									<div class="article-right fr">08.09</div>
								</div>
							</div>
						</div>
						<div class="article-row clearfix">
							<div class="article-header-image fl">
								<img src="images/article-header.jpg" alt="">
							</div>
							<div class="article-desc fl">
								<div class="article-name">
									<a href="" target="_blank">研发技术分享</a>
								</div>
								<div class="article-info clearfix">
									<article class="article-left fl">
										<span>资讯</span>
										<span class="iconfont">19254</span>
										<span>慕课网官方</span>
										<span>资讯</span>
									</article>
									<div class="article-right fr">08.09</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>
{% endblock %}
